{{> partials/header title=title }}

<h1 class="title">
    song-share
</h1>
<p class="subtitle">
    A WIP web app for sharing songs by adding them to shared "playlists", including the ability to vote on songs and comment on them.
</p>

{{> partials/footer }}